---
layout: archive
excerpt: "This is over header image"
header:
  overlay_image: /assets/images/Norwich_castle_Meadow_201709.jpg
  overlay_filter: 0.7 # same as adding an opacity of 0.5 to a black background
  caption: "Castle Meadow, Norwich, UK (09/2017)"
  actions:
    - label: "More Info"
      url: "https://unsplash.com"
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
